<!-- Footer -->

<footer id="footer" class="footer-light fixed-bottom sticky-footer">
  <div class="copyright-content fixed-bottom">
    <div class="container">
      <div class="copyright-text text-center">© 2018 - CometWall - Tous droits reservés
      </div>
    </div>
  </div>
</footer>