<!-- Footer -->

<footer id="footer" class="footer-light fixed-bottom">
  <div class="copyright-content fixed-bottom">
    <div class="container">
      <div class="copyright-text text-center">© 2018 - CapsuleWALL - Tous droits reservés<a href="#" target="_blank">...</a>
      </div>
    </div>
  </div>
</footer>
