<!-- Le header -->
<header id="header">
  <div id="header-wrap">
    <div class="container">
      <!--Logo
<div id="logo">
<a href="index.html" class="logo" data-dark-logo="images/logo-dark.png"> <img src="images/logo.png" alt="Polo Logo"> </a>
</div>
End: Logo-->

      <!--Navigation Responsive-->
      <div id="mainMenu-trigger">
        <button class="lines-button x">
          <span class="lines"></span>
        </button>
      </div>
      <!--end: Navigation Responsive-->

      <!--Le Menu -->
      <div id="mainMenu">
        <div class="container">
          <nav>
            <ul>
              <li>
                <a href="./pool_profile">Pool de profils</a>
              </li>
              <li class="#">
                <a href="#">Wall</a>
                <li class="#">
                  <a href="#">Forum</a>
                  <li class="#">
                    <a href="job_opportunity">Job Opportunities</a>
                    <li class="#">
                      <a href="#">Batch #</a>
                    </li>
                    <li class="#">
                      <a href="/profile">Mon profil</a>
                    </li>

                    <%if(!user){%>

                      <li>
                        <a href="/users">
                          <button type="button" class="btn btn-rounded btn-xs" style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);">Login</button>
                        </a>
                      </li>

                      <%} else {%>

                        <li>
                          <a href="/users/logout">
                            <button type="button" class="btn btn-rounded btn-xs" style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);">Déconnexion</button>
                          </a>
                        </li>

                        <%}%>
            </ul>
          </nav>
        </div>
      </div>
      <!--END: Le Menu-->
    </div>
  </div>
</header>
<!-- end: Le Header -->