<!DOCTYPE html>
<html>
  <head>
    <title>Le site des anciens</title>
    <link rel='stylesheet' href='/stylesheets/plugins.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />

  </head>
  <body>

    <% include ./partials/header %>

    <%if(user){%>
      <h1>Welcome <%= user.credentials.email %></h1>
    <%} else { %>
      <h1>You are not logged</h1>
    <%}%>

    <div><% include ./partials/footer %></div>


  </body>
</html>
