<!DOCTYPE html>
<html>
<<<<<<< HEAD
=======
  <head>
    <title>Le site des anciens</title>
    <link rel='stylesheet' href='/stylesheets/plugins.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
>>>>>>> c75183830c376e52897bd9f4ca36ebab8227b4fa

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/plugins.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/responsive.css' />

</head>

<<<<<<< HEAD
<body>

  <% include ./partials/header %>

    <h1>
      <%= title %>
    </h1>
    <p>Welcome tototeeeeeeo
      <%= title %>
    </p>
    <a href="/profile" class="btn btn-primary">Profil</a>
    <a href="/users/signinup" class="btn btn-info">Sign In/Up</a>
    <a href="/job_opportunity" class="btn btn-success">Job Opportunities</a>


    <a href="/profile">Profil</a>
    <div>
      <% include ./partials/footer %>
    </div>

=======
    <%if(user){%>
      <h1>Welcome <%= user.email %></h1>
    <%} else { %>
      <h1>You are not logged</h1>
    <%}%>

    <div><% include ./partials/footer %></div>
>>>>>>> c75183830c376e52897bd9f4ca36ebab8227b4fa

</body>

</html>