<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/plugins.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />

  </head>
  <body>
    <% include ./partials/header %>

    <h1><%= title %></h1>
    <p>Welcome tototeeeeeeo <%= title %></p>

    <a href="/profile">Profil</a>
    <div><% include ./partials/footer %></div>

  </body>
</html>
