<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Julien Victor Athmane" />
  <meta name="description" content="Le CapsuleWall est un portail Capsulien">
  <meta name="keywords" content="#">
  <title>Login</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800"
      rel="stylesheet" type="text/css" />
  <link href="../stylesheets/plugins.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="../stylesheets/responsive.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/e286b68312.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Section -->
        <section class="fullscreen" style="">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="col-md-3 p-30 center background-white b-r-6">

                            <h3>Login to your Account</h3>
                            <form class="form-transparent-grey" action="/users/signin" method="POST">
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="form-group m-b-5">
                                    <label class="sr-only">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group form-inline text-left ">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><small> Remember me</small>
                                        </label>
                                    </div>
                                    <a href="#" class="right"><small>Lost your Password?</small></a>
                                </div>
                                <div class="text-left form-group">
                                    <button type="button" class="btn btn-default">Login</button>

                                </div>
                            </form>

                        </div>
                        <%if(msg){ if(msg.signinFail){%>
                          <%= msg.signinFail %>
                        <%}}%>

                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

    <!--Plugins-->
     <script src="javascripts/jquery.js"></script>
     <script src="javascripts/plugins.js"></script>

    <!--Template functions-->
     <script src="javascripts/functions.js"></script>
</body>

</html>
