.user_picture{
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.row {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 15px;
}

.spaceprofile {
  border: none;
  height: 15px;
}

.separation {
  margin-left: 10px;
}
